.App {
  text-align: center;
  background-color: lightblue; /* Set the background color to light blue */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black; /* Changed to black for better visibility on light blue background */
  padding: 20px; /* Add some padding */
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2 column grid */
  gap: 20px; /* Spacing between grid items */
  max-width: 500px; /* Adjust the max width as needed */
  margin: auto;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  /* Make the button span across all columns */
  grid-column: 1 / -1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #61dafb;
  margin-top: 20px; /* Add some space above the button */
}

button:hover {
  background-color: #51cada;
}

.display-box {
  border: 2px solid yellow;
  padding: 20px;
  margin-top: 40px; /* Space above the display box */
  text-align: left;
  max-width: 500px; /* Match the form width */
  margin: 40px auto 0; /* Centering the box */
}

.display-box p {
  margin: 5px 0;
}
